Source: brew-meta
Section: metapackages
Priority: optional
Maintainer: c00clupea <c00clupea@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/BrewLinux/brew-meta.git
Vcs-Browser: https://github.com/BrewLinux/brew-meta.git

Package: brew-system
Architecture: all
Depends: brew-desktop,
	 brew-internet,
	 brew-vcs,
	 brew-editors,
	 brew-tools,
	 ${shlibs:Depends}, ${misc:Depends}
Description: Brew main system
 This package contains all necessary and basic system packages

Package: brew-desktop
Architecture: all
Depends: xorg,
	 slim,
	 mate-desktop-environment-core,
	 menu,
	 sudo,
	 ${misc:Depends}
Description: Standard Desktop Environment
 This metapackage provides a standard desktop environment

Package: brew-internet
Architecture: all
Depends: chromium,
	 icedove,
	 enigmail,
	 wget,
	 links,
	 curl,
	 ${misc:Depends}
Description: Standard Desktop Internet Environment
 This metapackage provides a standard desktop internet environment

Package: brew-vcs
Architecture: all
Depends: git,
	 gitk,
	 git-gui,
	 ${misc:Depends}
Description: Standard Desktop VCS
 This metapackage provides git and some git tools

Package: brew-editors
Architecture: all
Depends: vim,
	 nano,
	 emacs,
	 ${misc:Depends}
Description: Standard Desktop editors
 This metapackage provides some editors

Package: brew-tools
Architecture: all
Depends: htop,
	 ethtool,
	 usbutils,
	 sudo,
	 ${misc:Depends}
Description: Standard Desktop tools
 This metapackage provides some tools

Package: brew-java
Architecture: all
Depends: openjdk-7-jdk,
	 ${misc:Depends}
Description: Current java for brew +jdk
 This package provides the jre and jdk

Package: brew-java-8
Architecture: all
Depends: openjdk-8-jdk,
	 ${misc:Depends}
Description: java 8 for brew +jdk
 This package provides the jre and jdk (you will need backports)

Package: brew-c
Architecture: all
Depends: build-essential,
	 autogen,
	 automake,
	 libtool,
	 libglade2-dev,
	 libgtk2.0-dev,
	 libgtk2.0-doc,
	 intltool,
	 gdb,
	 ${misc:Depends}
Description: c,c++ compiler
 This package provides compiler, make and so on for c and c++

Package: brew-python
Architecture: all
Depends: python3,
	 python-pip,
	 ${misc:Depends}
Description: python 3.4
 This package provides python 3.4

Package: brew-mono
Architecture: all
Depends: mono-complete,
	 ${misc:Depends}
Description: mono tools
 This package provides mono

Package: brew-nodejs
Architecture: all
Depends: nodejs,
	 ${misc:Depends}
Description: nodejs
 This package provides nodejs and further things